---
import ExperienceCard from './ExperienceCard.astro';
const { experiences } = Astro.props;
---

<section class="cosmic-container mt-10" id="experience-timeline">
  <div class="experience-timeline-track experience-timeline-stack relative before:absolute before:left-4 before:top-0 before:h-full before:w-px before:bg-cosmic-gold/30 md:before:left-1/2">
    {experiences.map((item: any, idx: number) => (
      <div
        class:list={['experience-item grid items-start md:grid-cols-2', idx % 2 === 0 ? 'experience-item--left' : 'experience-item--right md:[&>*:first-child]:order-2']}
        data-period={item.period}
        data-type={item.type ?? 'pro'}
        style={`animation-delay: ${idx * 110}ms;`}
      >
        <div class="experience-node relative p-4">
          <ExperienceCard item={item} />
        </div>
        <div class="hidden md:block"></div>
      </div>
    ))}
  </div>
</section>
